<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Krishna Edwards</h1>
 <p>Hi, my name is Krishna Edwards.I am currently a second year computing student at the University of the West Indies.
    I am not sure what exactly I want to specify in just yet however, web development is pretty fun.
    I enjoy watching and playing football however, because of Covid I am unable to play.</p>
</body> 
</html>